@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    height: 120px;
    width: 100%;
    background-color: rgb(8, 30, 40);
    color: white;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-flow: row ;
    justify-content: center;
    align-items: center;
}

header > h1 {
    float: left;
    width: 60%;
    padding-left: 50px;
}

.header-logo-disney-plus, .header-logo-netflix {
    width: 15%;
}

.header-logo-disney-plus img, .header-logo-netflix img {
    width: 100px;
}

/* main */

main {
    margin: 0;
    padding-bottom: 100px;
    width: 100%;
    background-color: rgb(10, 40, 50);
    display: flex;
    flex-flow: column wrap;
    gap: 100px;
    align-items: center;
    justify-content: center;
}

main > img {
    width: 100vw;
}

.disney-plus {
    background-color: rgb(10, 50, 60);
    width: 90%;
    display: flex;
    flex-flow: column;
    gap: 20px;
}

.netflix {
    background-color: rgb(10, 50, 60);
    width: 90%;
    display: flex;
    flex-flow: column;
    gap: 20px;
}

.scroll {
    height: 500px;
    display: flex;
    align-items: center;
    gap: 20px;
    scroll-snap-type: x mandatory;
    overflow-x: auto;
}

.disney-plus > a {
    padding-left: 40px;
    padding-top: 20px;
}

.netflix > a {
    padding-left: 40px;
}

/* footer */

footer {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100px;
    bottom: 0;
    background-color: rgb(8, 30, 40);
    color: white;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

footer > a {
    color: rgba(250, 250, 250, 0.5);
    text-decoration: none;
    transition: 0.3s;
}

footer > a:hover {
    color: white;
    padding-left: 8px;
}

/* scroll bar */

::-webkit-scrollbar{
    height: 8px;
    width: 20px;
    background: rgb(8, 46, 56);;
}

::-webkit-scrollbar-thumb{
    background: rgb(8, 30, 40);
}

::-webkit-scrollbar:horizontal{
    background: rgb(8, 46, 56);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:horizontal{
    background: rgb(8, 30, 40);
    border-radius: 10px;
}

/* responsive*/

@media (max-width: 1060px) {
    header > h1 {
        float: left;
        width: 60%;
        padding-left: 20px;
    }    

    .header-logo-disney-plus img, .header-logo-netflix img {
        width: 60px;
    }

    .header-logo-disney-plus, .header-logo-netflix {
        width: 20%;
    }

    .scroll > a > img {
        width: 250px;
        height: 150px;
    }

    .scroll {
        height: 200px;
    }
}